body {margin: 0;}



/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/*------IMAGE-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
